.container {
    width: min(100% - 15px, 1380px);
    height: 95%;
    margin-inline: auto;
    display: grid;
    grid-template-columns: 1fr 3fr;
    // display: flex;
    overflow: hidden;
    border: 1px solid lightgray;
    box-shadow: -1px 1px 5px rgba(#333, 0.2);
            app-stockviz-sidebar {
              border: 2px solid black;
            }
            app-stockviz-company-details{
              height: auto;
              padding: 2%;
              border: 1px solid black;
            }
  }

  .collapse{
    grid-template-columns: 1fr 7fr;
  }