  @for (company of clickedCompany; track company.id){
    <div class="company-details">
      <div class="header-detail">
        <h3>{{company.name}}</h3>
        <div>NASDAQ <span>{{company.id}}</span> currency <span>{{currency}}</span></div>
      </div>
      <div class="detail">
        <div><p>Region</p><span>{{company.region_id}}</span></div>
        <div><p>Sector</p><span>{{company.sector}}</span> </div>
        <div><p>Industry</p><span>{{company.industry}}</span></div>
        <div><p>Stock price</p><span>{{company.price | currency: currency : 'symbol-narrow'}}</span></div>
        <div><p>Employees</p><span>{{company.employees | number: '2.'}}</span></div>
    </div>
        <div class="description">
          <p>Description</p>
          <span readMore="3" [readMoreOptions]="readMoreOption">
            {{description}}</span>
        </div>
    </div>
  }