.company-details{
    border: 1px solid black;
    display: grid;
    grid-template-rows: 1fr 2fr 6fr;
    row-gap: 10px;
    padding: 1%;
    h3, span{
        font-weight: 500;
    }
    .header-detail, .detail{
        display: flex;
        justify-content: space-between;
    }
}