.company-search{
    height: 90vh;
    .header{
      width: 100%;
      display: flex;
      justify-content: space-between;
      .close-button{
        float: right;
        top:-20px;
        right:-20px;
        .close-icon {
          transition: 1s ease-in-out;
        }
        .close-icon:hover {
          transform: rotate(180deg);
        }
      }
    }
    .choice{
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 25px;
      row-gap: 5px;
    }
}

table {
    width: 100%;
  }
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }

  td, th {
    width: 25%;
  }