.company-search{
    height: 90vh;
    .header, .search-form{
      width: 100%;
      display: flex;
      justify-content: space-between;
        .search-button {
          height: 30px;
          margin: auto;
        }
            .close-button{
          float: right;
          top:-20px;
          right:-20px;
          .close-icon {
            transition: 1s ease-in-out;
          }
          .close-icon:hover {
            transform: rotate(180deg);
          }
        }
    }
    .choice{
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 25px;
      row-gap: 5px;

    }
}

table {
    width: 100%;
  }
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }

  td, th {
    width: 25%;
  }

  .mat-row .mat-cell {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    cursor: pointer;
  }

  .mat-row:hover .mat-cell {
    border-color: currentColor;
  }